services:

  app:
    build: .
    container_name: app
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./src:/app/src
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - redis
      - mongo
    environment:
      - PYTHONPATH=/app
      - BROKER_URL=amqp://guest:guest@rabbitmq:5672/
      - MONGO_URI=mongodb://mongo:27017
      - REDIS_URL=redis://redis:6379
    networks:
      - app-network

  consumer:
    build: .
    container_name: consumer
    command: python src/consumer.py
    volumes:
      - ./src:/app/src
    depends_on:
      - rabbitmq
      - redis
      - mongo
    environment:
      - PYTHONPATH=/app
      - BROKER_URL=amqp://guest:guest@rabbitmq:5672/
      - MONGO_URI=mongodb://mongo:27017
      - REDIS_URL=redis://redis:6379
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge